body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto;
  }
}

.header {
  background-color: #1b54dd;
  min-width: 320px;
}

@media screen and (min-width: 600px) {
  .header {
    background-color: #374d80;
    min-width: 600px;
  }
}

.header > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 600px) {
  .header > .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header {
}
.container {
}
.header-logo-link {
}

.header-img {
  border-radius: 10px;
}

.header-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-subtitle-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.header-btn {
  border-radius: 10px;
  padding: 12px 24px;
  width: 120px;
  height: 41px;

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

/* !SECTION */

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-list {
  display: flex;
  flex-direction: column;
}

.section-list-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .section-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .section-wrap {
    padding-left: 32px;
  }

  .section > .container {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-img {
  margin-top: 32px;
  margin-bottom: 16px;
}
.section-list-title {
  font-weight: 700;
  font-size: 24px;
  color: #262626;
  margin-bottom: 16px;
}

.section-list-item-text {
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  margin-bottom: 16px;
}
.section-listitem-link {
  font-weight: 600;
  font-size: 14px;
  color: #1b54dd;
  margin-bottom: 32px;
}
.section-bnt {
  margin: 32px auto 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 2px;
  padding: 12px 24px;
  width: 110px;
  height: 41px;
  background: #1b54dd;

  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

/* !FOOTER */
.footer {
  background: #e8e8e8;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-list {
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}
.footer-list-item {
}
.footer-list-svg {
}

.footer-link-site {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #262626;
}

.footer-text-location,
.footer-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: #262626;
}

.footer-text-location {
  margin-top: 8px;
}

.footer-text {
  margin-bottom: 16px;
}

.footer-dmi-img {
  max-width: 40px;
}
